azure-cognitiveservices-speech==1.34.1
Babel==2.14.0
boto3==1.34.19
botocore==1.34.19
charset-normalizer==3.3.2
emoji==2.9.0
emoji-country-flag==1.3.2
environs==10.3.0
ffmpeg==1.4
flagmoji==1.2.4
Flask==3.0.0
google-api-core==2.15.0
google-api-python-client==2.114.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-translate==3.14.0
googleapis-common-protos==1.62.0
googletrans==3.1.0a0
gst==0.1.0
gstreamer-player==1.1.2
httpcore==0.9.1
httplib2==0.22.0
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ipykernel==6.28.0
ipython==8.19.0
itsdangerous==2.1.2
langcodes==3.3.0
libretranslatepy==2.1.1
numpy==1.26.3
pandas==2.1.4
pycairo==1.25.1
pycountry==23.12.11
pydub==0.25.1
pyTelegramBotAPI==4.14.1
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
SpeechRecognition==3.10.1
telebot==0.0.5
translate==3.6.1
typing_extensions==4.9.0